#include "resource.h"
#include <windows.h>
#include <winver.h>
#include "version.h"

IDI_APP_ICON             ICON                    "..\\assets\\app.ico"
IDI_FOLDER_ICON          ICON                    "..\\assets\\Folder.ico"
IDI_SETTING_ICON         ICON                    "..\\assets\\setting.ico"
IDI_UP_ARROW_ICON        ICON                    "..\\assets\\up-arrow.ico"
IDI_TIME_ICON            ICON                    "..\\assets\\Time.ico"
IDI_DELETE_TRASH_ICON    ICON                    "..\\assets\\delete-trash.ico"
IDI_BUILTIN_CONTROL_PANEL      ICON               "..\\assets\\builtin-control-panel.ico"
IDI_BUILTIN_TASK_MANAGER       ICON               "..\\assets\\builtin-task-manager.ico"
IDI_BUILTIN_FILE_EXPLORER      ICON               "..\\assets\\builtin-file-explorer.ico"
IDI_BUILTIN_DEVICE_MANAGER     ICON               "..\\assets\\builtin-device-manager.ico"
IDI_BUILTIN_DISK_MANAGEMENT    ICON               "..\\assets\\builtin-disk-management.ico"
IDI_BUILTIN_SERVICES           ICON               "..\\assets\\builtin-services.ico"
IDI_BUILTIN_EVENT_VIEWER       ICON               "..\\assets\\builtin-event-viewer.ico"
IDI_BUILTIN_RESOURCE_MONITOR   ICON               "..\\assets\\builtin-resource-monitor.ico"
IDI_BUILTIN_SYSTEM_INFORMATION ICON               "..\\assets\\builtin-system-information.ico"
IDI_BUILTIN_REGISTRY_EDITOR    ICON               "..\\assets\\builtin-registry-editor.ico"
IDI_BUILTIN_CALCULATOR         ICON               "..\\assets\\builtin-calculator.ico"
IDI_BUILTIN_NOTEPAD            ICON               "..\\assets\\builtin-notepad.ico"
IDI_BUILTIN_COMMAND_PROMPT     ICON               "..\\assets\\builtin-command-prompt.ico"
IDI_BUILTIN_POWERSHELL         ICON               "..\\assets\\builtin-powershell.ico"
IDI_BUILTIN_ON_SCREEN_KEYBOARD ICON               "..\\assets\\builtin-on-screen-keyboard.ico"
IDI_BUILTIN_BAIDU              ICON               "..\\assets\\builtin-baidu.ico"
IDI_BUILTIN_GOOGLE             ICON               "..\\assets\\builtin-google.ico"
IDI_BUILTIN_GITHUB             ICON               "..\\assets\\builtin-github.ico"
IDI_BUILTIN_BILIBILI           ICON               "..\\assets\\builtin-bilibili.ico"
IDI_BUILTIN_TAOBAO             ICON               "..\\assets\\builtin-taobao.ico"
IDI_BUILTIN_PING               ICON               "..\\assets\\builtin-ping.ico"
IDI_BUILTIN_IP_CONFIG          ICON               "..\\assets\\builtin-ip-config.ico"
IDI_BUILTIN_LOCK_SCREEN        ICON               "..\\assets\\builtin-lock-screen.ico"
IDI_BUILTIN_HIBERNATE          ICON               "..\\assets\\builtin-hibernate.ico"
IDI_BUILTIN_EMPTY_RECYCLE_BIN  ICON               "..\\assets\\builtin-empty-recycle-bin.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    WINLAUNCHER_VERSION_RC
 PRODUCTVERSION WINLAUNCHER_VERSION_RC
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  "WinLauncher"
            VALUE "FileVersion",      WINLAUNCHER_VERSION_ASTR
            VALUE "InternalName",     "WinLauncher"
            VALUE "LegalCopyright",   "Copyright (C) 2025"
            VALUE "OriginalFilename", "WinLauncher.exe"
            VALUE "ProductName",      "WinLauncher"
            VALUE "ProductVersion",   WINLAUNCHER_VERSION_ASTR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 0x04b0
    END
END
