#include "resource.h"
#include <windows.h>
#include "version.h"

IDI_APP_ICON             ICON                    "..\\assets\\app.ico"
IDI_FOLDER_ICON          ICON                    "..\\assets\\Folder.ico"
IDI_SETTING_ICON         ICON                    "..\\assets\\setting.ico"
IDI_UP_ARROW_ICON        ICON                    "..\\assets\\up-arrow.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    WINLAUNCHER_VERSION_RC
 PRODUCTVERSION WINLAUNCHER_VERSION_RC
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  "WinLauncher"
            VALUE "FileVersion",      WINLAUNCHER_VERSION_ASTR
            VALUE "InternalName",     "WinLauncher"
            VALUE "LegalCopyright",   "Copyright (C) 2025"
            VALUE "OriginalFilename", "WinLauncher.exe"
            VALUE "ProductName",      "WinLauncher"
            VALUE "ProductVersion",   WINLAUNCHER_VERSION_ASTR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 0x04b0
    END
END
